
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #212121;
    
}

.main-box{
    /* background-color: red; */
    padding: 50px;
    position: relative;
    width: 500px;
    top: 120px;
    left: 200px;
    
}

h1{
    color: #fff;
    font-weight: 500;
    font-family: "DM Sans";
    font-size: 3rem;
}

span{
    font-weight: 500;
    text-decoration: underline;
    color: orange;
}

.input{
    display: flex;
    background-color: #fff;
    font-size: 3rem;
    padding: 15px;
    border-radius: 10px;
    margin: 40px 0;
    align-items: center;
    justify-content: space-between;
}

.input input{
    width: 300px;
    padding: 10px;
    margin-right: 10px ;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
}

input:active{
    border: 0;
    outline: 0;
}

i{
    font-size: 2.5rem;
    color: green;
    font-weight: 800;
    cursor: pointer;
}

button{
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}






